{% extends "layout.html" %}

{% block title %}
    Test
{% endblock %}

{% block main %}
<h1>{{test2}}</h1>
<h1>{{test3}}</h1>
<h1>{{test4}}</h1>
  <div id="pieChart" style="width:600px;height:250px;"></div>

  <script>
  // var data = [{
  //   values: [19, 26, 55],
  //   labels: ['Residential', 'Non-Residential', 'Utility'],
  //   type: 'pie'
  // }];

  var data = [{{ test | tojson }}];

var layout = {
  height: 400,
  width: 500
};

Plotly.newPlot('pieChart', data, layout);
</script>

{% endblock %}
