{% extends "layout.html" %}

{% block title %}
    Transaction
{% endblock %}

{% block main %}

  <div>
    <h3>Make a transaction</h3>
    <form action="{{ url_for('transaction') }}" method="post">
    <fieldset>
        <div class="btn-group btn-group-vertical" data-toggle="buttons">
            <label class="btn active">
              <input class="form-control" name="transaction_type" type="radio" value="bank" checked/>
              <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  Bank</span>
            </label>
            <label class="btn">
              <input class="form-control" name="transaction_type" type="radio" value="cash" />
              <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  Cash</span>
            </label>
        </div>
        <div class="form-group">
            <input class="form-control" name="transaction" placeholder="Transaction" type="number" step=0.01 />
        </div>
        <div class="form-group">
            <input class="form-control" name="category" placeholder="Category" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="company" placeholder="Company" type="text"/>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Submit</button>
        </div>
    </fieldset>
  </form>
  </div>
{% endblock %}
